.list-box {
  padding: 24px;
  gap: 24px;
  max-width: 1200px;
  word-break: break-all;
}

.list-title{
  display: block;
}
.todo-contents{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 40px;
  width: 1000px;
}