.header-nav {
  margin-top: 20px;
  display: flex;
  border: 2px solid;
  border-color: #E782FF;
  border-radius: 20px;
  background: white;
  padding: 30px 20px;
  align-items: center;
  justify-content: space-between;
}

.font-label{
  font-weight:bold;
  font-size: 20px;
}

a:link { 
  text-decoration-line: none;
 }
  
a:visited { 
  text-decoration: none;
 }
  
a:hover {
  
 }

 .unicorn{
  font-size: 40px;
  cursor: pointer;
 }

 .modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}


.modalunicorn{
  position: absolute;
  width: 400px;
  height: 400px;
  text-align: center;
  font-size: 280px;
  animation: start 5s;
}




@keyframes start {
  from {
      left: -100%;
  }
  to {  
      left: 100%;
  }

  100% {

      transform: rotate(720deg);
  }
  
  
}
